[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reader = "*"
jinja2 = "*"
appdirs = "*"
lxml = "*"
lxml-stubs = "*"
requests = "*"
tomli = "*"
sphinx = "*"
pytz = "*"
beautifulsoup4 = "*"
rss-digest = {editable = true, path = "."}

[dev-packages]
pytest = "*"
