body {
    font-family: sans-serif;
    margin: 5%;
    background: rgb(250, 250,250) none repeat scroll 0% 0%;
    color: rgb(7, 3, 66);
}
.content_container {
    word-wrap: break-word;
    width: 100%;
    background: rgba(68, 18, 18, 0.08) none repeat scroll 0% 0%;
}
.category_title {
    font-size: 1.1em;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    background: rgba(145, 145, 209, 0.8);
}
.feed_title, .entry, .more_entries {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
    background: rgba(184, 184, 209, 0.8);
}
.feed_title a {
    color: rgb(7, 3, 66);
    text-decoration: none;
}