{# This file contains some macros that are used when generating plaintext output. -#}
{% from '_common_macros.jinja2' import author_date with context -%}

{% macro header(text, char, indent='') -%}
{# Generate a header from text by placing a line of chars directly underneath it. -#}
{{ indent }}{{ text }}
{{ indent }}{{ char * "%s"|format(text)|length }}
{% endmacro -%}

{% macro display_category(category, category_indent='', feed_indent='', entry_indent='') -%}
{# Display a single category. -#}
{{ header(category.name, '=', category_indent) }}
{% for f in category.visible_updated_feeds -%}
{{ display_feed(f, feed_indent, entry_indent) }}
{% endfor -%}
{% if category.invisible_updated_feeds_count > 0 -%}
{{ category_indent }}{{ category.invisible_updated_feeds_count }} updated feeds not displayed.
{% endif %}
{% endmacro -%}

{% macro display_feed(feed, feed_indent='', entry_indent='') -%}
{# Display a single feed. -#}
{{ indent }}{{ header(feed.title, '-', feed_indent) -}}
{% for e in feed.visible_new_entries %}
{{ entry_indent }}{{ e.title }} {{ author_date(e) }}
{{ entry_indent }}{{ e.link }}
{% for content in e.content -%}
{{ entry_indent }}{{ ctx.config.helpers.html2text(content.value) }}
{% endfor -%}
{% endfor %}
{% if feed.invisible_new_entries_count > 0 -%}
{{ feed_indent }}{{ feed.invisible_new_entries_count }} more new or updated entries at {{ feed.url }}
{% endif -%}
{% endmacro -%}