{% macro author_date(entry, ctx) -%}
{# Generate a line describing a single entry, including its publication date and author, where available. -#}
{% if entry.author or entry.published_utc -%}({% if entry.author %}by {{ entry.author }}{% endif -%}
{% if entry.author and entry.published_utc %} {% endif -%}
{% if entry.published_utc %}on {{ ctx.local_format(entry.published_utc) }}{% endif %}){% endif -%}
{% endmacro -%}

{% macro header(text, char, indent='') -%}
{# Generate a header from text by placing a line of chars directly underneath it. -#}
{{ indent }}{{ text }}
{{ indent }}{{ char * "%s"|format(text)|length }}
{% endmacro -%}

{% macro display_feed(feed, feed_indent='', entry_indent='') -%}
{# Display a single feed. -#}
{{ indent }}{{ header(feed.title, '-', feed_indent) -}}
{% for e in feed.visible_new_entries %}
{{ entry_indent }}{{ e.title }} {{ author_date(e, context) }}
{{ entry_indent }}{{ e.link }}
{% endfor %}
{% if feed.invisible_new_entries_count > 0 -%}
{{- feed_indent }}{{ feed.invisible_new_entries_count }} more new or updated entries at {{ feed.url }}
{% endif %}
{% endmacro -%}